/MathLab1/.vs
/MathLab1/packages
/MathLab1/MathLab1/bin
/MathLab1/MathLab1/obj

/MathLab2/.vs
/MathLab2/packages
/MathLab2/MathLab2/bin
/MathLab2/MathLab2/obj

/MathLab3/.vs
/MathLab3/packages
/MathLab3/MathLab3/bin
/MathLab3/MathLab3/obj